/**
* Section Heading(title)
* ========================= */
@use "../../foundation/variable" as g;
@use "../../foundation/function" as f;

.c-section-heading {
    font-size     : 1.5rem;
    font-family   : g.$font-family;
    font-weight   : 700;
    text-transform: uppercase;
    text-align    : center;
    line-height   : calc(44/36);

    @include f.mq(pc) {
        font-size: 2.25rem;
    }

    & span {
        display    : block;
        font-size  : 0.875rem;
        font-weight: 400;
        margin-top : 0.67rem;
    }
}

