/**
* Header Open Button
* ========================= */
@use "../../foundation/variable" as g;
@use "../../foundation/function" as f;

/* ハンバーガーメニュー */
/*ボタン外側*/
.p-header__openbtn {
    /* ボタン内側の基点となるためrelativeを指定。
     * 追従するナビゲーションの場合はfixed+top、rightといった位置をセットで指定*/
    position     : relative;
    background   : #fff;
    cursor       : pointer;
    width        : f.rem(48px);
    height       : f.rem(48px);
    border-radius: f.rem(5px);

    & span {
        /*ボタン内側*/
        display      : inline-block;
        transition   : all .4s;
        /*アニメーションの設定*/
        position     : absolute;
        left         : 25%;
        height       : f.rem(3px);
        border-radius: f.rem(2px);
        background   : #888;
        width        : 50%;

        &:nth-of-type(1) {
            top: calc(30% - f.rem(1.5px));
        }
        &:nth-of-type(2) {
            top: calc(50% - f.rem(1.5px));
        }
        &:nth-of-type(3) {
            top: calc(70% - f.rem(1.5px));
        }
    }

    &.js-active {
        /*activeクラスが付与されると線が回転して×に*/
        & span:nth-of-type(1) {
            top      : calc(50% - f.rem(1.5px));
            left     : calc(25%);
            transform: rotate(-45deg);
            width    : 50%;
        }

        & span:nth-of-type(2) {
            /*真ん中の線は透過*/
            opacity: 0;
        }

        & span:nth-of-type(3) {
            top      : calc(50% - f.rem(1.5px));
            left     : calc(25%);
            transform: rotate(45deg);
            width    : 50%;
        }
    }

    @include f.mq(pc) {
        /* PC時は非表示 */
        display: none;
    }
}
