/**
* Service
* ========================= */
@use "../../foundation/variable" as g;
@use "../../foundation/function" as f;

.p-service {
    background-color: g.$color-bg-service;
    padding-top     : f.rem(60px);
    /* SP版はセクション間のpaddingを小さくする */
    padding-bottom  : f.rem(80px);

    @include f.mq(pc) {
        padding-bottom: f.rem(100px);
    }

    &__cards {
        margin-top    : f.rem(64px);
    }

    &__more {
        margin-top: f.rem(48px);
        text-align: center;

        @include f.mq(pc) {
            margin-top: f.rem(90px);
        }
    }
}
