/**
* Works
* ========================= */
@use "../../foundation/variable" as g;
@use "../../foundation/function" as f;

.p-works {
    padding-top   : f.rem(79px);
    /* SP版はセクション間のpaddingを小さくする */
    padding-bottom: f.rem(80px);

    @include f.mq(pc) {
        padding-bottom: f.rem(50px);
    }

    &__cards {
        margin-top           : f.rem(75px);
    }
    
    &__card {
        /* SP版でも757px~500pxくらいまでは巾が広いのでvwで制限 */
        width       : 70vw;
        min-width   : f.rem(327px);
        justify-self: center;

        @include f.mq(pc) {
            width: unset;
        }
    }

    &__more {
        margin-top: f.rem(48px);
        text-align: center;

        @include f.mq(pc) {
            margin-top: f.rem(130px);
        }
    }
}
